body{
    background-color: rgb(114, 221, 185);
}

header {
    color: rgb(34, 32, 63);
    text-align: center;
}

#grado {
    font-size: large;
}

div.container {
    margin: 80px;
    text-align: center;
}
div.columna1, div.columna2 {
    display:inline-block;
    padding: 30px;    
}
div.columna1 {
    height: 800px;
    width: 600px;
    background-color:rgb(95, 177, 151);
}
div.columna2 {
    height: 800px;
    width: 600px;
    background-color: rgb(92, 161, 139); 
}