body{
    background-color: rgb(114, 221, 185);
}

header {
    color: rgb(34, 32, 63);
    text-align: center;
}
h2{
    text-align: center;
}
.titulo{
    text-align: left;
}
hr.line{
    border: 0;
    border-top: 3px solid rgb(114, 221, 185);
    
    
    width: 30px;
    margin: 0;
      
}

#descripcionPersonal{
    font-size: larger;
}
#grado {
    font-size: large;
}

div.container {
    margin: 80px;
    resize: both;
    text-align: center;
}
div.columna1, div.columna2 {
    display:inline-table;
    padding: 30px;    
}
div.columna1 {
    height: 800px;
    width: 600px;
    background-color:rgb(95, 177, 151);
    border-radius: 10%;
}
div.columna2 {
    height: 800px;
    width: 600px;
    background-color: rgb(92, 161, 139); 
    border-radius: 10%;
    padding-bottom: 67px;
}

#conocimientos, #destrezas, #formacion, #datosContacto, #personal {
    text-align: left;
}